.texto_main {
  margin-top: 60px;
}
.texto_main div article {
  text-align: center;
}

.bajada div h2 {
  font-size: 40px;
}

.texto_main {
  margin-top: 60px;
}
.texto_main div article {
  text-align: center;
}

.bajada div h2 {
  font-size: 40px;
}

#carouselExampleFade {
  width: 400px;
  height: 350x;
  padding-bottom: 100px;
  padding-top: 100px;
  margin: auto;
  overflow: hidden;
}

.h2_de_menu {
  text-align: center;
}

/*Cards*/
.container-card {
  width: 100vw;
}

.title-cards {
  width: 100%;
  max-width: 1080px;
  margin: auto;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
  color: black;
}

.card {
  width: 100%;
  height: 500px;
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 400ms ease-out;
  cursor: default;
}

.card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}

.card img {
  width: 100%;
  height: 210px;
}
.card .contenido-card {
  padding: 15px;
  text-align: center;
}
.card .contenido-card h3 {
  margin-bottom: 15px;
  color: #7a7a7a;
}
.card .contenido-card p {
  line-height: 1.8;
  color: #6a6a6a;
  font-size: 14px;
  margin-bottom: 5px;
}
.card .contenido-card a {
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  text-decoration: none;
  color: #2fb4cc;
  border: 1px solid #2fb4cc;
  border-radius: 4px;
  transition: all 400ms ease;
  margin-bottom: 5px;
}
.card .contenido-card a:hover {
  background: #2fb4cc;
  color: #fff;
}

.flex-container {
  flex-wrap: wrap;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .container-card1 {
    flex-wrap: wrap;
  }
  .card1 {
    margin: 15px;
  }
}
.container-card {
  width: 90%;
  max-width: 400px;
}

@media (min-width: 852px) {
  .container-card {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: flex;
  }
}
.card {
  width: 100%;
  height: 500px;
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 400ms ease-out;
  cursor: default;
}

.bodyContacto {
  margin: 0;
  padding: 0;
}

.mb-3 {
  margin: 50px;
}

.btn {
  margin-left: 50px;
}

section div div {
  text-align: center;
}
section div div div h5 {
  font-size: 22px;
}
.boton {
  display: flex;
  justify-content: center;
}

.carda:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}

.carda img {
  width: 100%;
  height: 210px;
}

.carda {
  width: auto;
  height: auto;
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 400ms ease-out;
  cursor: default;
  padding: 10px;
}

Nosotros div h2 {
  text-align: center;
  font-size: 35px;
}

.imgDeSN .ima1_sn .ima2_sn img {
  width: 900px;
  height: 750px;
  margin-top: 45px;
  margin-bottom: 45px;
}

#borderDemo {
  border: 9px inset #B0A778;
  border-radius: 0px 0px 0px 30px;
}

.sec_con div .card-body {
  display: inline-block;
}

.sec_suc {
  padding: 25px;
}
.sec_suc .div_suc .medio {
  display: block;
}

.div_dos_sucursal .imagen_sucursal {
  display: none;
}

.map_suc {
  width: 300px;
}

@media (min-width: 768px) {
  .sec_suc {
    padding: 25px;
    border: 0, 2cm;
    border-color: black;
    border-style: solid;
    margin-bottom: 20px;
  }
  .sec_suc .div_suc {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sec_suc .div_suc .medio {
    display: block;
  }
  .sec_suc .div_suc .div_dos_sucursal {
    text-align: center;
  }
  .sec_suc .div_suc .div_dos_sucursal .map_suc {
    width: 300px;
  }
  .sec_suc .div_suc .div_dos_sucursal .imagen_sucursal {
    display: block;
    width: 500px;
    height: 300px;
  }
}
@media (min-width: 1000px) {
  .sec_suc {
    padding: 25px;
    border: 0, 2cm;
    border-color: black;
    border-style: solid;
    margin-bottom: 20px;
  }
  .sec_suc .div_suc {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sec_suc .div_suc .medio {
    display: block;
  }
  .sec_suc .div_suc .div_dos_sucursal {
    text-align: center;
  }
  .sec_suc .div_suc .div_dos_sucursal .map_suc {
    text-align: center;
    width: 300px;
    text-align: center;
  }
  .sec_suc .div_suc .div_dos_sucursal .imagen_sucursal {
    display: block;
    width: 500px;
    height: 300px;
  }
}
@keyframes rotate-scale-down-diag-1 {
  0% {
    -webkit-transform: scale(1) rotate3d(1, 1, 0, 0deg);
    transform: scale(1) rotate3d(1, 1, 0, 0deg);
  }
  50% {
    -webkit-transform: scale(0.5) rotate3d(1, 1, 0, -180deg);
    transform: scale(0.5) rotate3d(1, 1, 0, -180deg);
  }
  100% {
    -webkit-transform: scale(1) rotate3d(1, 1, 0, -360deg);
    transform: scale(1) rotate3d(1, 1, 0, -360deg);
  }
}
.tarjetas {
  -webkit-animation: rotate-scale-down-diag-1 0.7s linear both;
  animation: rotate-scale-down-diag-1 0.7s linear both;
}

@media (min-width: 768px) {
  #carouselExampleFade {
    width: 70%;
    height: 350x;
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
  }
  .card {
    display: inline-block;
    margin: 10px;
  }
}
body {
  font-family: "Julius Sans One", sans-serif;
  font-family: "Metamorphous", cursive;
  background-color: burlywood;
  background-color: #FFC280;
}

.div_general .hover {
  height: 500px;
  overflow: hidden;
  position: relative;
}

.div_general .hover div h1 {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 2;
  border: 4px solid white;
  background: transparent;
  opacity: 1;
  text-align: center;
}

.div_general .hover div img {
  height: 500px;
  width: 100%;
}
.div_general .hover div div h1 {
  font-size: 3.6rem;
  color: white;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0 0 8px black;
  align-items: center;
  justify-content: center;
}

.navbar {
  margin: 25px;
}
.navbar div span img {
  height: 65px;
  width: 130px;
  background-color: white;
}

section div h2 {
  text-align: center;
}

.div_redes a img {
  width: 40px;
  height: 40px;
  background-color: transparent;
  display: inline-block;
}

.footer_clean div div .item {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.footer_clean div h2 {
  text-align: center;
  margin-bottom: 40px;
}
.footer_clean div h2 p {
  text-align: center;
}

.navbar {
  position: sticky;
  margin-bottom: 50px;
  margin-left: 15px;
  margin-right: 15px;
  cursor: pointer;
}
.navbar div .div ul li {
  text-align: center;
  position: sticky;
  margin-bottom: 50px;
  margin-left: 15px;
  margin-right: 15px;
  cursor: pointer;
}

.footer_clean div {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  color: #4b4c4d;
}
.footer_clean div a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin-left: 20px;
  color: inherit;
  opacity: 0.75;
  text-align: center;
}

span .loguito {
  filter: brightness(1.1);
  mix-blend-mode: multiply;
}

/*# sourceMappingURL=estilo.css.map */
