

//Contacto//

.mb-3 {
    margin: 50px;
}

.btn {
	margin-left: 50px;
}

section {
    div{       


        div{ 
        text-align: center;  
            
            div{ 

                h5{ 
                    font-size: 22px;
                    

                }
                p{

            
                }
            }
        }
    }
}
