




//Index//

.texto_main{

    margin-top: 60px;
    div{

        article{

            text-align: center;
        
        }

            
    }
}

.bajada{
    
    div{
        h2{
            font-size: 40px;
            
            
        }
    }
}

//Index// {

.texto_main {
    margin-top: 60px;
	div{ 
        article{ 
            text-align: center;
	    }
    }
}

.bajada {
    div{ 
        h2{ 
            font-size: 40px;
		}
	}
}
