



.tarjetas{

    display: inline-block;
    text-align: center;
    
    
}

.card{

    margin: 20px;
}

#carouselExampleFade {
	width: 400px;
	height: 350x;
	padding-bottom: 100px;
    padding-top: 100px;
    margin: auto;
    overflow: hidden;
}

div{

    div{

        div{

            .w-100{

                border: 9px inset #B0A778;
                border-radius: 0px 0px 0px 30px;
            }
        }
    }
}