

//Sobre {
	Nosotros//

div {
    h2{ 
        text-align: center;
		font-size: 35px;
	}
}

.imgDeSN {
    .ima1_sn{ 
        .ima2_sn{ 
            img{ 
                width: 900px;
		        height: 750px;
		        margin-top: 45px;
		        margin-bottom: 45px;
	        }
	    } 
	}
}

#borderDemo {
	border: 9px inset #B0A778;
    border-radius: 0px 0px 0px 30px;
}

.sec_con {
	div{ 
        .card-body{ 
            display: inline-block;
        }
    }
}


