



.sec_suc{

    padding: 25px;
    

    .div_suc{
        display: flex;
        align-items: center;
        justify-content: center;
        
        
        .medio{

                display: block;
            }
        
        
        .div_dos_sucursal{


            .imagen_sucursal{


                width: 300px;



            }
                }

    }
}
